/* Insight Style */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	color: #000;
    font-family: 'Open Sans', sans-serif;
}

/* CUSTOM RESETS
================================================== */
a, button, .btn {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    cursor: pointer;
    outline: 0;
}

a:hover, 
button:hover, 
.btn:hover,
a:focus, 
button:focus, 
.btn:focus {
    outline: 0 none;
	text-decoration: none;
	box-shadow: none;
}

/* Main */